.shipDetailsPane {
  overflow-y: auto;
}

.shipBrowserPane {
	margin-left:20px;
	margin-right:20px;
	overflow-y: auto;
}

.filterOptionsPane {
  margin-left:25px;
  overflow-y:auto;
}

.headerTitle {
  font-size:45px;
}

.headerTitleWell {
}

.shipBrowserPaneHeader {
	margin-bottom:20px;
}

.shipListGroup {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.noSelectItem {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.previousOwnerButton {
	display: none;
}

.priceFilter {
	margin-top: 10px;
}

.checkboxesFilter {
	margin-top:10px;
}

.sortDropdown{
  float:right;
}

.shipBrowserPaneBody .progress {
  height:20px;
}

.shipBrowserPaneBody .progress .progress-bar{
  line-height:20px;
